{% extends "base.html" %}
{% load static %}
{% block 'head' %}
<title>Listar Empresa</title>
{% endblock 'head' %}

{% block 'body' %}
{% include "partials/barra_navegacao.html" %}

<div class="container my-5 dark-color container_empresas">
    <h2 class="mb-4">Lista de Empresas</h2>

    <table class="table table-striped">
        <thead>
            <tr class="cabecalho" style="background-color: transparent !important;">
                <th scope="col">Id</th>
                <th scope="col">Empresa</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for empresa in empresas %}
                <tr>
                    <td>{{ empresa.id }}</td>
                    <td>{{ empresa.nome_empresa }}</td>
                    <td>{{ empresa.cnpj }}</td>
                    <td>
                        <button type="button" class="btn btn-warning">Editar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock 'body' %}