<nav class="navbar navbar-expand-lg navbar-dark dark-color">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
	            <a class="nav-link active" href="{% url 'cadastrar_empresa' %}">Empresa</a>
            </li>
            <li class="nav-item">
	            <a class="nav-link active" href="{% url 'cadastrar_equipamento' %}">Equipamentos</a>
            </li>
            <li class="nav-item">
	            <a class="nav-link active" href="{% url 'cadastrar_usuario' %}">Usuarios</a>
            </li>            
        </ul>
        </div>
    </div>


</nav>
	  a