<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Arquivo
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Cadastrar Empresa</a>
    <a class="dropdown-item" href="#">Sobre</a>
    <a class="dropdown-item" href="#">Sair</a>
  </div>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Equipamentos
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Equipamentos</a>
    <a class="dropdown-item" href="#">Listagem</a>
    <a class="dropdown-item" href="#">Cadastros diversos</a>
  </div>
</div>