{% extends "base.html" %}
{% load static %}
{% block 'head' %}

{% endblock 'head' %}
{% block 'body' %}
{% include "partials/barra_navegacao.html" %}
<br>
<div class="container-fluid px-0">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div class="d-flex align-items-center">
            <h2 class="mr-3">Wiki</h2>
            <a href="{% url 'admin:wiki_post_add' %}" class="btn btn-outline-success">Cadastrar</a>
        </div>
        <form class="form-inline" method="GET" action="{% url 'consulta_post' %}">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar..." aria-label="Pesquisar" name="q" value="{{ request.GET.q }}">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>

    {% if messages %}
        <div class="alert-container mb-4">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>


    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Data</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% if posts %}
                    {% for post in posts %}
                    <tr>
                        <td><a href="{% url 'post_detalhe' post.id %}">{{ post.titulo_post }}</a></td>
                        <td>{{ post.autor_post.username }}</td>
                        <td>{{ post.data_post|date:"d/m/Y H:i" }}</td>
                        <td>
                            <a href="{% url 'post_detalhe' post.id %}" class="btn btn-warning btn-sm" role="button">
                                Visualizar
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4" class="text-center">Nenhum post encontrado.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock 'body' %}