{% extends "base.html" %}
{% load static %}
{% block 'head' %}

    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">

{% endblock 'head' %}

{% block 'body' %}

    {% include "partials/barra_navegacao.html" %}

    <div class="container">
        <br>
        <br>
        <p class="h2">Cadastro de Computador</p>
        {% if messages %}
            {% for message in messages %}
                <section class="alert {{message.tags}}">
                    {{message}}
                </section>
            {% endfor %}
        {% endif %}
        <div class="row">
                <form action="{% url 'cadastrar_computador' %}" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                <label>Selecione o Setor:</label>
                <br>
                <select name="setor" class="form-control">
                    {% for setor in setores %}
                        <option value="{{ setor.id }}">{{ setor.nome_setor }}</option>
                    {% endfor %}
                </select>
                <br>
                <label>Nome na Rede:</label>
                <input type="text" name="nome_rede" class="form-control">
                <br>
                <label>Status:</label>
                <br>
                <select name="status" class="form-control" disabled="True">
                    {% for i in status %}
                        <option value="{{ i.0 }}">{{ i.1 }}</option>
                    {% endfor %}
                </select>
                <br>
                <label>Usuário:</label>
                <br>
                <select name="usuario" class="form-control">
                    {% for usuario in usuarios %}
                        <option value="{{ usuario.id }}">{{ usuario.nome_usuario }}</option>
                    {% endfor %}
                </select>
                <br>
                <label>Tipo Equipamento:</label>
                <br>
                <select name="tipo_equipamento" class="form-control">
                    {% for tipo_equipamento in tipo_equipamentos %}
                        <option value="{{ tipo_equipamento.id }}">{{ tipo_equipamento.nome_tipo_equipamento }}</option>
                    {% endfor %}
                </select>
                <br>
                <label>Marca:</label>
                <br>
                <select name="marca" class="form-control">
                    {% for marca in marcas %}
                        <option value="{{ marca.id }}">{{ marca.nome_marca }}</option>
                    {% endfor %}
                </select>
                <br>
                <label>Modelo:</label>
                <input type="text" name="modelo" placeholder="Digite o modelo..." class="form-control">
                <br>
                <label>Serial Number:</label>
                <input type="text" name="serial_number" placeholder="Digite o modelo..." class="form-control">
                <br>
                <label>Processador:</label>
                <input type="text" name="processador" placeholder="Digite o modelo..." class="form-control">
                <br>
                <label>Memoria:</label>
                <input type="text" name="memoria" placeholder="Digite o modelo..." class="form-control">
                <br>
                <label>Armazenamento:</label>
                <input type="text" name="armazenamento" placeholder="Digite o modelo..." class="form-control">
                <br>
                <label>Tipo Armazenamento:</label>
                <br>
                <select name="tipo_armazenamento" class="form-control">
                    {% for i in tipo_armazenamentos %}
                        <option value="{{ i.0 }}">{{ i.1 }}</option>
                    {% endfor %}
                </select>
                <br>     
                <label>Sistema Operacional:</label>
                <br>
                <select name="sistema_operacional" class="form-control">
                    {% for so in sistemas_operacionais %}
                        <option value="{{ so.id }}">{{ so.nome_sistema_operacional }}</option>
                    {% endfor %}
                </select>
                <br>     
                <label>Sistema Operacional - Arquivo VBS:</label>
                <br>
                <input type="text" name="so_serial_vbs" placeholder="Digite o modelo..." class="form-control">
                <br>     
                <label>Sistema Operacional - CMD:</label>
                <br>
                <input type="text" name="so_serial_cmd" placeholder="Digite o modelo..." class="form-control">
                <br>                                                     
                <label>Nota Fiscal Computador:</label>
                <input type="file" name="nf_computador" class="form-control">
                <br>                
                <label>Nota Fiscal Sistema Operacional:</label>
                <input type="file" name="nf_sistema_operacional" class="form-control">
                <br>           
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Descrição</th>
                                <th scope="col">Serial</th>
                                <th scope="col">Nota Fiscal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <select name="softwares" class="form-control">
                                        {% for software in softwares %}
                                            <option value="{{ software.id }}">{{ software.nome_software }}</option>
                                        {% endfor %}
                                    </select>
                                </th>
                                <td><input type="text" name="serial_software" placeholder="XXXXX-XXXXX-XXXXX-XXXXX-XXXXX" class="form-control">
                                </td>
                                <td><input type="file" name="nf_software" class="form-control"></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary">Adicionar Linha</button>                        
                </div>

                <label>Observações:</label>
                <textarea class="form-control" name="observacoes" rows="3"></textarea>                
                <br>
                <input type="submit" class="btn btn-lg btn-indigo" value="cadastrar">
                </form>
        </div>
    </div>
{% endblock 'body' %}