{% extends "base.html" %}
{% load static %}
{% block 'head' %}

{% endblock 'head' %}

{% block 'body' %}
{% include "partials/barra_navegacao.html" %}

<div class="container my-5">
    <h2 class="mb-4">Lista de Softwares</h2>

    {% if messages %}
        <div class="alert-container mb-4">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome do Software</th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for software in softwares %}
                    <tr>
                        <td>{{ software.id }}</td>
                        <td>{{ software.nome_software }}</td>
                        <td>
                            <a href="#" class="btn btn-warning btn-sm">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>{% endblock 'body' %}