{% extends "base.html" %}
{% load static %}
{% block 'head' %}

{% endblock 'head' %}

{% block 'body' %}
{% include "partials/barra_navegacao.html" %}

<div class="container my-5">
    <h2 class="mb-4">Lista de Computadores</h2>

    {% if messages %}
        <div class="alert-container mb-4">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome Rede</th>
                    <th scope="col">Operador</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Serial Number</th>      
                    <th scope="col">Ação</th>                                                       
                </tr>
            </thead>
            <tbody>
                {% for computador in computadores %}
                    <tr>
                        <td>{{ computador.id }}</td>
                        <td>{{ computador.nome_rede }}</td>
                        <td>{{ computador.operador }}</td>
                        <td>{{ computador.marca }}</td>
                        <td>{{ computador.modelo }}</td>
                        <td>{{ computador.serial_number }}</td>                                                                                                
                        <td>
                            <a href="{% url "detalhes_computador" computador.id %}" class="btn btn-warning btn-sm" role="button">
                                Visualizar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock 'body' %}