{% extends "base.html" %}
{% load static %}
{% block 'head' %}

{% endblock 'head' %}


{% block 'body' %}

    {% include "partials/barra_navegacao.html" %}

    <div class="container">
        <br>
        <h2>Ocorrência - Adicionar Novo Software em um Computador</h2>
        
        {% if messages %}
            {% for message in messages %}
                <section class="alert {{ message.tags }}">
                    {{ message }}
                </section>
            {% endfor %}
        {% endif %}
    
        <div class="row">
            <div class="col-md-12">
                <form action="{% url 'adicionar_software_em_um_computador' %}" method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="computador">Selecione o Computador:</label>
                        <select name="computador" id="computador" class="form-control">
                            {% for computador in computadores %}
                                <option value="{{ computador.id }}">
                                    {{ computador.id }} - {{ computador.nome_rede }} - {{ computador.setor }} - {{ computador.operador }} - {{ computador.marca }} - {{ computador.modelo }} - {{ computador.serial_number }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
    
                    <div class="mb-4">
                        <label for="software">Selecione o Software:</label>
                        <select name="software_id" id="software_id" class="form-control">
                            {% for software in softwares %}
                                <option value="{{ software.id }}">
                                    {{ software.id }} - {{ software.nome_software }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="serial">Serial:</label>
                            <input type="text" id="serial" name="serial" placeholder="Digite o número do Serial..." class="form-control">
                        </div>
    
                        <div class="col-md-6 mb-3">
                            <label for="numero_nota_fiscal_computador">Número Nota Fiscal:</label>
                            <input type="text" id="numero_nota_fiscal_software" name="numero_nota_fiscal_software" placeholder="Digite o número da Nota..." class="form-control">
                        </div>
                    </div>
    
                    <div class="mb-4">
                        <label for="nf_software">Nota Fiscal do Software:</label>
                        <input type="file" id="nf_software" name="nf_software" class="form-control">
                    </div>
    
                    <div class="mb-4">
                        <label for="observacoes">Observações:</label>
                        <textarea class="form-control" name="observacoes" id="observacoes" rows="3" placeholder="Digite suas observações..."></textarea>
                    </div>
    
                    <button type="submit" class="btn btn-lg btn-indigo">Aplicar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock 'body' %}