{% extends "base.html" %}
{% load static %}
{% block 'head' %}

{% endblock 'head' %}

{% block 'body' %}
    {% include "partials/barra_navegacao.html" %}
    <br>
    <br>
    <div class="container dark-color container_empresas">
        <table class="table">
            <thead >
              <tr class="cabecalho" style="background-color: transparent !important;">
                <th class="cabecalho" scope="col">Id</th>
                <th class="cabecalho" scope="col">Data</th>                    
                <th class="cabecalho" scope="col">Tipo Ocorrência</th>
                <th class="cabecalho" scope="col">Computador</th>                                  
                <th class="cabecalho" scope="col">Operador</th>     
                <th class="cabecalho" scope="col">Setor</th>    
                <th class="cabecalho" scope="col">Observações</th>                                                                             
              </tr>
            </thead>
            <tbody>
                {% for ocorrencia in ocorrencias %}
                    <tr class="linha">
                        <td class="linha">{{ ocorrencia.id }}</td>
                        <td class="linha">{{ ocorrencia.data }}</td>
                        <td class="linha">
                          {% if ocorrencia.tipo_ocorrencia == '1' %}
                            INATIVAR COMPUTADOR
                          {% endif %}
                        </td>
                        <td class="linha">{{ ocorrencia.computador }}</td>
                        <td class="linha">{{ ocorrencia.operador }}</td>
                        <td class="linha">{{ ocorrencia.setor }}</td>
                        <td class="linha">{{ ocorrencia.observacoes }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock 'body' %}