{% extends "base.html" %}
{% load static %}
{% block 'head' %}

<link rel="stylesheet" href="{% static 'empresarios/css/listar_empresas.css' %}">
<link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">

{% endblock 'head' %}

{% block 'body' %}
{% include "partials/barra_navegacao.html" %}

<div class="container my-5 dark-color container_empresas">
    <h2 class="mb-4">Lista de Ocorrências</h2>

    <table class="table table-striped">
        <thead>
            <tr class="cabecalho" style="background-color: transparent !important;">
                <th scope="col">Id</th>
                <th scope="col">Data</th>
                <th scope="col">Tipo Ocorrência</th>
                <th scope="col">Usuário</th>
                <th scope="col">Setor</th>
                <th scope="col">Observações</th>
            </tr>
        </thead>
        <tbody>
            {% for ocorrencia in ocorrencias %}
                <tr>
                    <td>{{ ocorrencia.id }}</td>
                    <td>{{ ocorrencia.data }}</td>
                    <td>
                        {% if ocorrencia.tipo_ocorrencia == '1' %}
                            INATIVAR USUÁRIO
                        {% elif ocorrencia.tipo_ocorrencia == '2' %}
                            TROCAR USUÁRIO DE SETOR
                        {% endif %}
                    </td>
                    <td>{{ ocorrencia.usuario }}</td>
                    <td>
                        {% if setor %}
                            {{ ocorrencia.setor.nome_setor }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>{{ ocorrencia.observacoes }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>{% endblock 'body' %}