{% extends "base.html" %}
{% load static %}
{% block 'head' %}

{% endblock 'head' %}

{% block 'body' %}
    {% include "partials/barra_navegacao.html" %}
    <br>
    <br>
    <div class="container dark-color container_empresas">
        <h1 class="h1">Ocorrências de Equipamentos</h1>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url "inativar_computador" %}">Inativar Computador</a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url "trocar_computador_operador" %}">Trocar Operador de um Computador</a>    
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="#">Recolher computador para setor da TI</a>    
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="#">Realizar inspeção</a>    
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="#"></a>    
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="{% url "listar_ocorrencias_equipamentos" %}">Listar Ocorrências de Equipamentos</a>    
          </li>
        </ul>
    </div>
{% endblock 'body' %}