{% extends "base.html" %}
{% load static %}
{% block 'head' %}

<link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">

{% endblock 'head' %}


{% block 'body' %}

    {% include "partials/barra_navegacao.html" %}

    <div class="container">
        <br>
        <br>
        <p class="h2">Ocorrência - Atualizar Usuário do Computador</p>
        {% if messages %}
            {% for message in messages %}
                <section class="alert {{message.tags}}">
                    {{message}}
                </section>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md">
                <form action="{% url 'trocar_computador_usuario' %}" method="POST" enctype='multipart/form-data'>{% csrf_token %}
                <br>
                <label>Selecione o Computador:</label>
                <br>
                <select name="computador" class="form-control">
                    {% for computador in computadores %}
                        <option value="{{ computador.id }}">
                            {{ computador.usuario }} - {{ computador.nome_rede }} - {{ computador.modelo }} - {{ computador.serial_number }}</option>
                    {% endfor %}
                </select>
                <!--
                <br>       
                <label>Setor cadastrado no usuário:</label>
                <br>
                <select name="setor_cadastrado" class="form-control" disabled>
                    {% for setor_c in setores %}
                        <option value="{{ setor_c.id }}" >{{ setor_c.nome_setor }}</option>
                    {% endfor %}
                </select>-->
                <br>     
                <label>Selecione o Novo Usuário:</label>
                <br>
                <select name="usuario" class="form-control">
                    {% for usuario in usuarios %}
                        <option value="{{ usuario.id }}">{{ usuario.nome_usuario }}</option>
                    {% endfor %}
                </select>
                <br>                       
                <label>Observações:</label>
                <textarea class="form-control" name="observacoes" rows="3"></textarea>                
                <br>    
                <input type="submit" class="btn btn-lg btn-indigo" value="Aplicar">
                </form>
            </div>
        </div>
    </div>

    
{% endblock 'body' %}