{% extends "base.html" %}
{% load static %}
{% block 'head' %}

{% endblock 'head' %}

{% block 'body' %}
    {% include "partials/barra_navegacao.html" %}
    <br>
    <br>
    <div class="container dark-color container_empresas">
        <h1 class="h1">Sobre:</h1>
        <br>
        <h2 class="h2">Desenvolvido por: Marcos Körbes Werle</h2>
        <br>        
        <h3 class="h3">Link do projeto: <a href="https://github.com/marcoskw/licenca">Clique aqui</a></h3>       
        <br>
        <h2 class="h2">Versão:1.0.0</h2>
    </div>
{% endblock 'body' %}